@import 'sass-bootstrap/lib/bootstrap';

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 320px;
}

.hidden {
	display: none;
}

.centered {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.error {
	color: red;
	font-weight: bold;
}

.hero-unit {
	margin: auto;
	width: auto;
	min-height: 480px;
	padding: 1em;
}

.homeButton {
	height: 40px;
	width: 40px;
	margin: auto;
	display: block;
	margin-bottom: 15px;
	opacity: .5;
	cursor: pointer;
}

.launchButtons,
.browseButtons,
.listButtons {
	width: 100%
}

.launchButtons > .btn,
.browseButtons > .btn,
.listButtons > .btn {
	width: 100%;
	height: 80px;
	font-size: 22px;
	color: hsl(0, 0%, 51%);
}

.subText {
	display: block;
	font-size: .6em;
	color: grey;
}

.divider {
	margin: 0 10px;
	font-weight: bold;
}

.expired,
.expired:hover,
.expired:focus,
.expired > .subText,
.lost,
.lost:hover,
.lost:focus,
.lost > .subText {
	color: hsl(0, 100%, 71%);
}

.asset.expired,
.asset.lost {
	color: hsl(0, 100%, 71%);
}

.deviceHeader {
	color: hsl(0, 0%, 30%);
}

.deviceModel {
	font-weight: bold;
	font-size: 2.5em;
	margin-bottom: .5em;
	line-height: 1em;
}

.deviceLost {
	color: hsl(0, 100%, 71%);
	font-weight: bold;
	font-size: 1.2em;
}

.deviceElement:first-of-type {
	margin-top: 40px;
}

.deviceElement {
	margin-top: 20px;
	font-weight: bold;
	font-size: .7em;
	color: hsl(0, 1%, 61%);
}

.serialInput {
	margin-top: 70px;
}

.submitLookUp {
	display: block;
	margin: 30px 0 0 75px;
	padding: 10px 40px 10px 40px;
	font-size: 22px;
	color: #828282;
}

.lookUpError {
	margin-top: 20px;
	font-size: .9em;
}